body {
    background-color: #252526;
    margin: 0 auto;
    font-family: 'Fjalla One', sans-serif;
}
 
.topBanner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 25px;
    background-color: #2f2f30;
}
.homeLogo img{
    height: 100px;
    width: 100px;
}
.homeLogo img {
    display: flex;
    justify-content: flex-start;
}

.bannerLogo{
    display: flex;
    justify-content: center;
}
.topMenu {
    display: flex;
    justify-content: flex-end;
}
.menuContainerBox{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-right: 20px;
}

.menuContainerBox div{
    height: 40px;
}
.menuContainer{
    cursor: pointer;
}

.menu1, .menu2, .menu3 {
  width: 35px;
  height: 5px !important;
  background-color: white;
  margin: 6px 0;
  transition: 0.6s;
}

.change .menu1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menu2 {opacity: 0;}

.change .menu3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
#gameSelection{
    padding-top: 100px;
    padding-left: 130px;
    padding-right: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.gameContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .8fr;
}
.gameTitle{
    text-align: center;
    font-size: 44px;
    font-family: 'Fjalla One', sans-serif;
    color: white;
}

.gameImage{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.gameImage img{
    width: 200px;
    height: 200px;
    background-color: #2f2f30;
    cursor: pointer;
}

#matchGameContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 50px;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}
.cardImage{
    border: 10px solid rgb(100, 100, 100);
    cursor: pointer;
}
.cardImage img{
    width: 180px;
    height: 180px;
}

.cardCover{
    background-color: lightseagreen;
    width: 200px;
    height: 200px;
    transition: .5s;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.flip .cardCover{
    transform: scaleY(0);
}

.found .cardCover{
    background-color:  rgb(100, 100, 100);
}

.fa-check{
    color: limegreen !important;
}

.tContainer{
    padding-top: 30px;
}