body {
    background-color: #252526;
}
 
.topBanner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 25px;
}

.menuBtn {
    width: 100px;
    height: 100px;
    background-color: ivory;
    transition: height 2s;
}

.menuBtn:hover {
    height: 250px;
}

.homeLogo img {
    width: 100px;
    height: 100px;
    justify-self: start;
}

.bannerLogo img{
    justify-self: center;
}

.topMenu div{
    justify-self: end;
}