.bodyContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
#centerText{
    color: black;
    text-align: center;
}